<div class="list-group">
  <a href="#" class="list-group-item active deck-list-item" data-id='<%= deck.id %>'>
    <h4 class="list-group-item-heading"><%= deck.name %></h4>
    <p class="list-group-item-text"><%= deck.desc %></p>
  </a>
</div>