<div class="list-group list-group-deck">
  <a href="/decks/<%= deck.id %>" class="list-group-item  deck-list-item" data-id='<%= deck.id %>'>
    <h4 class="list-group-item-heading"><%= deck.name %></h4>
    <p class="list-group-item-text"><%= deck.desc %></p>
  </a>
</div>