<p id="notice"><%= notice %></p>

<%= render :partial => '/decks/play', :locals => { :deck => @deck } %>


<hr>


<% if current_user.id == @deck.user_id %>
  <%= link_to 'Edit', edit_deck_path(@deck) %> |
  <%= link_to 'Back', decks_path %>
<% end %>
