<div class="list-group-cards">
  <h2><%= @deck.name %></h2>
  <% deck.card_assignments.each do |card_assignment| %>
    <%= render :partial => "/cards/card_display", :locals => { :card => card_assignment.card } %>
  <% end %>
</div>
